table td, table th{
  padding: 5px 15px !important;
}
table th{
  padding: 15px 15px !important;
}
table.not-editable td, table.not-editable th {
  padding: 15px !important;
}
.chip {
  cursor: pointer;
  transition: 0.3s all;
}

.highlight {
  opacity: 0.5;
}

i.fa {
  display: inline-block;
  margin-left: 10px;
  font-size: 12px;
  cursor: pointer;
  color: #4e4e4e;
}
.actions li{
  display: inline-block;
}
.actions li input{
  height: auto !important;
}
