<section class="skills-matched">

  <div class="row">
    <div class="col m6 s12">
      <div class="card">
        <div class="card-title">
          Choose user & skills filters
        </div>
        <div class="card-body">
          <form #matchForm="ngForm">
            <div class="input-field">
              <select name="userId" ngModel materialize="material_select" *ngIf="Users && Users.length > 0">
                <option value="" selected disabled>Not</option>
                <option value="{{user.id}}" class="left" data-icon="/assets/images/user.png" *ngFor="let user of Users">{{user.name}}</option>
              </select>
              <label for="">User</label>
            </div>
            <div class="input-field">

                  <ul class="collapsible" materialize="collapsible" id="skillsList" [ngClass]="_skillsShow ? 'collapsible show': 'collapsible'">
                    <li *ngFor="let category of Skills">
                      <div class="collapsible-header"><i class="material-icons">filter_drama</i>{{category.title}}</div>
                      <div class="collapsible-body">
                            <div class="input-field"  *ngFor="let skill of category.skills">
                               <input type="checkbox" id="{{skill.id}}" (change)="chooseSkill($event, skill.id, skill.title)" />
                               <label for="{{skill.id}}" style="z-index: 100000;pointer-events: visible;">{{skill.title}}</label>
                            </div>
                      </div>
                    </li>
                  </ul>
            </div>
            <div class="input-field skills-field" *ngIf="choosedSkills">
              <a [ngClass]="_skillsShow ? 'btn white-text active teal': 'btn white grey-text'"
                 id="showSkillsList"
                 (click)="showSkillsList()"
              >
                <i class="close material-icons" *ngIf="!_skillsShow;else text">add</i>
                <ng-template #text>choose skill</ng-template>
              </a>
              <div class="chip" *ngIf="_object.keys(choosedSkills).length == 0">
                Choose your skills
                <i class="close material-icons" >close</i>
              </div>
              <div class="chip" *ngFor="let id of _object.keys(choosedSkills)">
                {{choosedSkills[id]}}
                <i class="close material-icons" (click)="chooseSkill ( $event, id)">close</i>
              </div>
            </div>
            <button type="button" class="btn blue" (click)="applyFilters(matchForm)">Apply</button>
          </form>
        </div>
      </div>
      <div class="card" *ngIf="Compare && Compare.compare.length > 0">
        <div class="card-title">Matched chart</div>
        <div class="card-body">
          <div id="chartdiv" style="height:300px"></div>
        </div>
      </div>
    </div>
    <div class="col m6 s12">
      <div class="card" *ngIf="Compare && Compare.compare.length > 0">
        <div class="card-title green white-text lighten-2">
          Matched users
        </div>
        <div class="card-body" >
          <table class="responsive-table highlight">
            <thead>
            <tr>
              <th>Name</th>
              <th>Skills</th>
              <th>Persent of matching</th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let userSkill of Compare.compare; let i = index" (click)="drawChart(i)">
                <td>{{userSkill.name}}</td>
                <td>
                  <div class="chip" *ngFor="let skill of userSkill.compareSkills">{{skill.skill.title}} <b>{{skill.mark}}</b></div>
                </td>
                <td>{{userSkill.persent}} %</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
