<ng-content></ng-content>
<section class="stats">
  <div class="row">
    <div class="col m3 s6">
      <div class="card">
        <i class="material-icons green-text">local_library</i>
        <div class="name">Skills</div>
        <span class="mark">125</span>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="col m3 s6">
      <div class="card">
        <i class="material-icons red-text">group</i>
        <div class="name">Total mark</div>
        <span class="mark">1252</span>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="col m3 s6">
      <div class="card">
        <i class="material-icons orange-text">high_quality</i>
        <div class="name">High level users</div>
        <span class="mark">6</span>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="col m3 s6">
      <div class="card">
        <i class="material-icons purple-text">brightness_medium</i>
        <div class="name">Medium level users</div>
        <span class="mark">8</span>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</section>
