.navigation .tabs .indicator{
    display: none !important;
    background-color: #ff4b53 !important;
    height: 4px !important;
}
section.search-roadmaps .card-title{
    margin: 0;
    padding: 0;
    background-color:transparent;
    border: none;
    font-size: 24px !important;
    margin-bottom: 15px;
}
section.search-roadmaps header{
    margin: -20px !important;
    height: 180px;
    padding: 40px;
    position: relative;
}

section.search-roadmaps header input{
   border: none;
   outline: none;
   height: 40px;
   width: 80%;
   margin-left: 20px;
   padding-left: 20px;
   float: left;
   color: #696969ee;
   border-radius: 2px;
}
section.search-roadmaps header .row i{
    transform: translate(-40px, 12px);
    font-size: 16px;
}
section.search-roadmaps .card{
    padding-bottom: 0px;
    margin-bottom: 0 !important;

}
a:first-child{
    cursor: pointer;
    margin-right: 0 !important;
    display: inline-block !important;
}
a i {
    cursor: pointer;
}
ul.tabs{
    margin-left: 40px;
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    background-color: #197bca;
}
.create-roadmap{
    position: absolute;
    bottom: -25px;
    right: 100px;
}
.roadmap-feed{
    background-color: #fff;
    margin-top: 40px;
}
.card{
    padding-bottom: 20px !important;
    border-bottom: 1px solid #eee;
}
.card .card-title{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px !important;
}
.card .card-content{
    padding-bottom: 0 !important;
}
.card .card-content .creator{
    margin-bottom: 5px;
    font-size: 13px;
}

.card .card-content .date{
    font-size: 12px;
    color: #9c9c9c;
}
.card .card-content .stats{
   margin-top: 20px;
}
.card .card-content ul li{
    display: inline-block;
    margin-right: 10px;
    font-size: 13px;
    color: #9c9c9c;
 }
 .card .card-content ul li b{
     padding: 3px;
 }
 .card .card-content ul li .badge{
     float: none;
     height: 35px;
     line-height: 35px;
     margin-left: 0px;
     padding: 6px;
 }
.card .card-action{
    border:none;
}
.card .card-action a{
    display: inline-block;
    margin-right: 10px !important;
    cursor: pointer;
    font-size: 13px;
}
.not-found{
    margin-top: 100px;
    text-align: center;
}