<section class="skill-logs">
  <h5 class="section-title">Skills Logs</h5>
  <div class="card">
    <div [ngClass]="filtersShow ? 'shown card-filters z-depth-3': 'card-filters z-depth-3'">
      <div class="card-filters-header">
        <div class="pull-right">
          <i class="material-icons" id="closeFilters" (click)="showFilters()">close</i>
        </div>
        <h4>Skills category filters</h4>
        <p>Filters will be applied to skills table</p>
      </div>
      <div class="card-filters-body" >
        <form #filtersForm="ngForm" novalidate>
          <div class="input-field">
            <select materialize="material_select" multiple ngModel *ngIf="Skills && Skills.length > 0" name="skillId" id="skill">
              <option value="" selected>Not</option>
              <optgroup *ngFor="let category of Skills" label="{{category.title}}">
                <option *ngFor="let skill of category.skills" value="{{skill.id}}">{{skill.title}}</option>
              </optgroup>

            </select>
            <label for="skill">Skill name</label>
          </div>
          <div class="input-field">
            <select materialize="material_select" ngModel multiple *ngIf="Users && Users.length > 0" name="userId" id="user">
              <option value="" selected disabled>Not</option>
              <option *ngFor="let user of Users" value="{{user.id}}">{{user.name}}</option>
            </select>
            <label for="user">User</label>
          </div>
          <div class="row">
            <div class="col m6 s12">
              <div class="input-field">
                <input type="text" ngModel name="from">
                <label for="">Mark from</label>
              </div>
            </div>
            <div class="col m6 s12">
              <div class="input-field">
                <input type="text" ngModel name="to">
                <label for="">Mark to</label>
              </div>
            </div>
          </div>
          <div class="input-field">
            <input type="text" materialize="pickadate" class="datepicker" name="createdAt">
            <label for=""> From date</label>
          </div>
          <button class="btn blue" (click)="applyFilters(filtersForm)">Apply</button>
        </form>
      </div>
    </div>
    <div class="card-title">
      <span>Skill logs table</span>
      <ul class="actions right">
        <li>
          <i class="material-icons" id="filters" (click)="showFilters()" >filter_list</i>
        </li>
      </ul>
    </div>
    <div class="card-body"  >
      <div *ngIf="filters && Object.keys(filters.labels).length > 0">
        <p>Applied filters <button class="btn-flat" (click)="clearFilters()">Clear all</button></p>
        <div class="filters">
          <div class="chip" *ngFor="let key of Object.keys(filters.labels);">{{filters.labels[key]}}<i class="close material-icons" (click)="removeFilter(key)">close</i></div>
        </div>
      </div>
      <table class="responsive-table highlight">
        <thead>
        <tr>
          <th>Skill</th>
          <th>User</th>
          <th>Category</th>
          <th>Old value</th>
          <th>New value</th>
        </tr>
        </thead>
        <tbody *ngIf="Logs && Logs.skills.length > 0">
        <tr *ngFor="let skill of Logs.skills">

          <td class="{{skill.skill_new}}">{{skill.userSkill.skill.title}}</td>
          <td>{{skill.user.name}}</td>
          <td>{{skill.userSkill.skill.skillsCategory.title}}</td>
          <td>{{skill.skill_old}}</td>
          <td>{{skill.skill_new}}</td>
        </tr>
        </tbody>
      </table>
        <app-pagination *ngIf="Pagination" [Data]="({total:Logs.total, userId:filters.userId})" (next)="nextPage($event)"></app-pagination>
    </div>
  </div>
</section>
