<section class="search-roadmaps">
  <h5 class="section-title">Search</h5>
  
  <div class="filters">
    <form action="">
      <div class="row">
          <div class="input-field col m6">
              <input type="text" class="unstyled z-depth-2" #nameFilter>
              <label for="">Search</label>
          </div>
          <div class="input-field col m4">
            <select name="category_id" id="category_id" #catFilter class="unstyled z-depth-2" style="background-color: #fff;" materialize="material_select">
              <option value="" disabled selected>Choose</option>
              <option *ngFor="let cat of Categories" value="{{cat.id}}">{{cat.title}}</option>
            </select>
          </div>
          <div class="input-field col m2">
            <button type="button" class="btn gradient-45deg-indigo-light-blue" id="find-btn" (click)="search(nameFilter.value, catFilter.value)">Find</button>
          </div>
      </div>
    </form>
  </div>
<div class="row" *ngIf="Roadmaps && Roadmaps.length > 0; else notfound">
    <ng-masonry-grid
    [masonryOptions]="{ transitionDuration: '0.8s', gutter: 10, columnWidth:'.card' }" 
    [useAnimation]="true"
    [useImagesLoaded]="true"
    [scrollAnimationOptions]="{}">
    <!-- Masonry Grid Item -->
        <ng-masonry-grid-item id="{{'masonry-item-'+i}}" class="" *ngFor="let roadmap of Roadmaps; let i = index;" (click)="removeItem($event)"> 
        <!-- Grid Content  -->
        <div class="card gradient-45deg-indigo-light-blue white-text">
            <div class="card-title gradient-45deg-indigo-light-blue">
                {{roadmap.name}}
                <span class="right category-title">{{roadmap.skillsCategory.title}}</span>
            </div>
            <div class="card-body"> 
              <p>{{roadmap.description | slice:0:100}}</p>
              <div class="checkpoints-chain">
                <ul>
                  <li *ngFor="let check of roadmap.roadmap_checkpoints"><div class="chip">{{check.name}}</div></li>
                </ul>
              </div>
              <div class="checkpoints-chain">
                  <ul>
                    <li *ngFor="let check of roadmap.roadmap_checkpoints"><div class="badge green">{{check.skill.title}}</div></li>
                  </ul>
              </div>
            </div>
            <div class="card-action">
              <button class="btn">Assign</button>
            </div>
          </div>
        </ng-masonry-grid-item>
  </ng-masonry-grid>
</div>


  <!-- <div class="row" *ngIf="Roadmaps; else notfound">
    <div class="col s6 m4" *ngFor="let roadmap of Roadmaps">
        <div class="card gradient-45deg-indigo-light-blue white-text">
            <div class="card-title gradient-45deg-indigo-light-blue">
                {{roadmap.name}}
                <span class="right category-title">{{roadmap.skillsCategory.title}}</span>
            </div>
            <div class="card-body"> 
              <p>{{roadmap.description | slice:0:100}}</p>
              <div class="checkpoints-chain">
                <ul>
                  <li *ngFor="let check of roadmap.roadmap_checkpoints"><div class="chip">{{check.name}}</div></li>
                </ul>
              </div>
              <div class="checkpoints-chain">
                  <ul>
                    <li *ngFor="let check of roadmap.roadmap_checkpoints"><div class="badge green">{{check.skill.title}}</div></li>
                  </ul>
              </div>
            </div>
            <div class="card-action">
              <button class="btn">Assign</button>
            </div>
          </div>
    </div>
  </div> -->

  <ng-template #notfound>
    <h5 class="not-found">
      <i class="fa fa-frown-o"></i>
      Nothing Founded
    </h5>
  </ng-template>
</section>