h5.not-found{
    text-align: center;
    font-weight: bold;
}
.card{
    width: 450px;
    border-radius: 5px;
    padding: 0 !important;
}
.card-title{
    border-radius: 5px 5px 0px 0px;
    border: none;
}
.card-title .category-title{
    font-size: 15px;
    font-weight: bold;
}
.card-action button:not(.btn-flat){
    border-radius: 50px;
    font-size: 13px !important; 
    height: 30px;
    line-height: 30px;
    transition: 0.3s all !important;
    background: #f48fb1;
}
p.assigned{
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
}
p.assigned span{
    display: inline-block;
    transform: translateY(-5px);
}
.unstyled{ 
    border: none !important;
    background-color: #fff !important;
}
.select-wrapper {
    background-color: #fff !important;
}
.input-field label{
    padding-left: 20px;
}
.input-field label.active{
    transform: translate(-20px,-16px) scale(0.8) !important;
}
button#find-btn{
    height: 45px;
    line-height: 45px;
}
input[type="text"] {
    border-radius: 3px;
    padding-left: 20px;
    background: #fff !important;
    box-sizing: border-box;
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3) !important;
}
.card-action button:hover{
    transition: 0.3s all !important;
    background:#1de9b6;
    background: -webkit-linear-gradient(45deg, #43A047 0%, #1de9b6 100%);
    background: linear-gradient(45deg, #43A047 0%, #1de9b6 100%);
}
.card-body{
    padding: 20px;
    margin-bottom: 0 !important;
}
input.search-input{
    display: block;
    width: 80%;
    margin: 0 auto;
    border-radius: 500px;
    border: none !important;
    margin-bottom: 30px;
    padding: 0px 30px;
    background-color: #fff !important;
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3) !important;
}
.checkpoints-chain{
    margin-top: 20px;
}
.checkpoints-chain ul li{
    display: inline-block;
}
.checkpoints-chain .chip{
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
}
.checkpoints-chain ul li .badge{
    float: none;
    margin-right: 5px;
    padding: 3px 7px;
    margin-bottom: 3px;
}
.gradient-45deg-light-blue-cyan.gradient-shadow {
    box-shadow: 0 6px 20px 0 rgba(38, 198, 218, 0.5);
}
.gradient-45deg-light-blue-cyan {
    background: #0288d1;
    background: -webkit-linear-gradient(45deg, #0288d1 0%, #26c6da 100%);
    background: linear-gradient(45deg, #0288d1 0%, #26c6da 100%);
    transition: 0.3s all;
}
.gradient-45deg-red-pink {
    background: #FF5252;
    background: -webkit-linear-gradient(45deg, #FF5252 0%, #f48fb1 100%);
    background: linear-gradient(45deg, #FF5252 0%, #f48fb1 100%);
    transition: 0.3s all;
}
.gradient-45deg-indigo-light-blue {
    background: #3949ab;
    background: -webkit-linear-gradient(45deg, #3949ab 0%, #4fc3f7 100%);
    background: linear-gradient(45deg, #3949ab 0%, #4fc3f7 100%);
    transition: 0.3s all;
}
.gradient-45deg-green-teal {
    background: #43A047;
    background: -webkit-linear-gradient(45deg, #43A047 0%, #1de9b6 100%);
    background: linear-gradient(45deg, #43A047 0%, #1de9b6 100%);
}