section.roadmaps .card-title{
    margin: 0;
    padding: 0;
    background-color:transparent;
    border: none;
    font-size: 24px !important;
    margin-bottom: 15px;
}

section.roadmaps .card{
    padding-bottom: 0px;
    margin-bottom: 0 !important;

}
a:first-child{
    cursor: pointer;
    margin-right: 0 !important;
    display: inline-block !important;
}
a i {
    cursor: pointer;
}
.card{
    width: 450px;
    border-radius: 5px;
    padding: 0 !important;
}