<section class="roadmaps">
  <header class="blue">
    <div class="row">
      <div class="col s8">
          <h5 class="left white-text">Search</h5>
          <input type="text" class="browser-default z-depth-2" #searchField (focus)="focusOnSearch()" (input)="search(searchField.value)">
          <i class="material-icons">search</i>
      </div>
    </div>

    <ul class="navigation tabs blue" >
        <li class="tab"><a [ngClass]="_toggleFlag ? 'active white-text': 'white-text'" (click)="toggleRoadmaps(true)">My Roadmaps</a></li>
        <li class="tab"><a [ngClass]="!_toggleFlag ? 'white-text results-tab active': 'white-text results-tab'" (click)="toggleRoadmaps(false)">Results</a></li>
    </ul>
    <a class="btn-floating btn-large waves-effect waves-light red create-roadmap" routerLink="/roadmaps/create"><i class="material-icons">add</i></a>
  </header>
  <div id="my" [ngClass]="_toggleFlag === true ? 'row' : 'row hide'">
    <div class="col s8 offset-s1 roadmap-feed z-depth-2">
      <div class="card z-depth-0" *ngFor="let roadmap of Roadmaps;let i = index">
        <div class="card-content">
            <p class="date">{{roadmap.created_at | date:'dd-MMMM'}}</p>
            <span class="card-title">{{roadmap.name}}</span>
            <p [innerHtml]="roadmap.description | slice:0:350"></p>
            <div class="stats">
                <div class="creator">
                    <b>Created by: </b>{{roadmap.Creator.name}}
                </div>
              <ul>
                <li><span class="badge blue">{{roadmap.skillsCategory.title}}</span></li>
                <li>chekpoints <b>{{roadmap.checkpoints.length}}</b></li>
                <li>users <b>{{roadmap.users.length}}</b></li>
              </ul>
            </div>
        </div>
        <div class="card-action ">
          <a class="grey-text" routerLink="/roadmap/{{roadmap.id}}">Page</a>
          <a class="grey-text" (click)="unassign(roadmap.id, i)">Delete</a>
          <a class="grey-text" *ngIf="User.id == roadmap.creator_id" routerLink="/roadmap-stats/{{roadmap.id}}">Stats</a>
        </div>
      </div>
    </div>
    <ng-template #nothing><h5 class="center">You haven't got any roadmaps</h5></ng-template>
  </div>

  <div id="results" [ngClass]="_toggleFlag === false ? 'row' : 'row hide'">
    <app-search-roadmaps *ngIf="SearchRoadmaps" [SearchRoadmaps]="SearchRoadmaps" [filters]="filters" (assignAction)="assign($event)"  (loadmoreAction)="loadmore($event)"></app-search-roadmaps>
  </div>
</section>
