<app-errors-component *ngIf="errors && errors.data.length > 0" [(errors)]="errors"></app-errors-component>

<section class="skills-matched">
  <h5> Edit Skill / Categories</h5>
  <div class="row">
    <div class="col m12 s12">
      <div class="card">
        <div class="card-filters z-depth-3" ngClass="{{filtersStatus.category ? 'card-filters z-depth-3 show' : 'card-filters z-depth-3'}}">
          <div class="card-filters-header">
            <div class="pull-right">
              <i class="material-icons closeFilters" (click)="closeFilters('category')">close</i>
            </div>
            <h4>Create a new category</h4>
          </div>
          <div class="card-filters-body">
            <form #createCategoryForm="ngForm">
              <div class="input-field">
                <input type="text" id="title" name="title" ngModel>
                <label for="title">Category name</label>
              </div>
              <div class="input-field">
                <textarea name="description" id="description" ngModel class="materialize-textarea" data-length="120"></textarea>
                <label for="description">Description</label>
              </div>
              <button class="btn blue" (click)="createCategory(createCategoryForm)">Create</button>
            </form>
          </div>
        </div>
        <div class="card-title">
          <span>Categories</span>
          <ul class="actions right">
            <li>
              <input type="text" placeholder="Search" #catName (input)="searchCategory(catName.value)">
            </li>
            <li>
              <i class="material-icons filters" (click)="showFilters('category')">add</i>
            </li>
          </ul>
        </div>
        <div class="card-body" *ngIf="Categories && Categories.length > 0">
          <table class="responsive-table highlight">
            <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cat of filterItemsOfShow('category')">
              <td><input type="text" value="{{cat.title}}" class="unstyled" #categoryTitle (change)="updateCategory('title', categoryTitle.value, cat.id)"></td>
              <td><input type="text" value="{{cat.description}}" class="unstyled" #catDesc (change)="updateCategory('description',catDesc.value, cat.id)"></td>
              <td><i class="fa fa-trash-o" (click)="deleteCategory(cat.id)"></i></td>
            </tr>
            </tbody>
          </table>
          <div class="table-footer">
            <div class="right">
              <ul class="pagination-custom">
                <li class="cursor"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                <li *ngFor="let item of pagination.category" ><a  (click)="showPage('category',item.number - 1, item)" ngClass="{{item.current ? 'highlighted' : ''}}">{{item.number}}</a></li>
                <li  class="cursor"><a href="#"><i class="fa fa-angle-right"></i></a></li>
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col m12 s12">
      <div class="card">
        <div class="card-filters z-depth-3" ngClass="{{filtersStatus.skills ? 'card-filters z-depth-3 show' : 'card-filters z-depth-3'}}">
          <div class="card-filters-header">
            <div class="pull-right">
              <i class="material-icons closeFilters" (click)="closeFilters('skills')">close</i>
            </div>
            <h4>Create a new skill</h4>
          </div>
          <div class="card-filters-body">
            <form #createSkillForm="ngForm">
              <div class="input-field">
                <input type="text" name="name" ngModel>
                <label for="">Skill name</label>
              </div>
              <div class="input-field">
                <select name="category_id" *ngIf="Categories" ngModel materialize="material_select">
                  <option value="" disabled selected>Choose</option>
                  <option *ngFor="let cat of Categories" value="{{cat.id}}">{{cat.title}}</option>
                </select>
                <label for="">Category</label>
              </div>
              <div class="input-field">
                <textarea name="description" ngModel id="" class="materialize-textarea" data-length="120"></textarea>
                <label for="">User</label>
              </div>
              <button class="btn blue" (click)="createSkill(createSkillForm)">Create</button>
            </form>
          </div>
        </div>
        <div class="card-title">
          <span>Skills</span>
          <ul class="actions right">
            <li>
              <input type="text" placeholder="Search" #skillName (input)="searchSkill(skillName.value)" >
            </li>
            <li>
              <i class="material-icons filters" (click)="showFilters('skills')">add</i>
            </li>
          </ul>
        </div>
        <div class="card-body" *ngIf="Skills && Skills.length > 0">
          <div class="filters">
            <div class="chip" *ngFor="let cat of Categories" (click)="sortByCategory(cat.id)">{{cat.title}}</div>
          </div>
          <table class="responsive-table highlight">
            <thead>
            <tr>
              <th>Name</th>
              <th>Category</th>
              <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let skill of filterItemsOfShow('skills')">
              <td><input type="text" class="unstyled" value="{{skill.title}}" #skillTitle (change)="updateSkill('title', skillTitle.value, skill.id)"></td>
              <td><p *ngIf="skill.skillsCategory">{{skill.skillsCategory.title}}</p></td>
              <td><input type="text" class="unstyled" value="{{skill.description}}" #skillDesc (change)="updateSkill('description', skillDesc.value, skill.id)"></td>
              <td><i class="fa fa-trash-o" (click)="deleteSkill(skill.id)"></i></td>
            </tr>

            </tbody>
          </table>
          <div class="table-footer">
            <div class="right">
              <ul class="pagination-custom">
                <li class="cursor"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                <li *ngFor="let item of pagination.skills"><a (click)="showPage('skill',item.number - 1, item)" ngClass="{{item.current ? 'highlighted' : ''}}">{{item.number}}</a></li>
                <li  class="cursor"><a href="#"><i class="fa fa-angle-right"></i></a></li>
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
