<section class="skills-matched">
  <div class="row">
    <div class="col m12 s12">
      <div class="card">
        <div class="card-filters z-depth-3">
          <div class="card-filters-header">
            <div class="pull-right">
              <i class="material-icons closeFilters">close</i>
            </div>
            <h4>Create a new category</h4>
          </div>
          <div class="card-filters-body">
            <form action="">
              <div class="input-field">
                <input type="text">
                <label for="skill">Category name</label>
              </div>
              <div class="input-field">
                <textarea name="" id="textarea2" class="materialize-textarea" data-length="120"></textarea>
                <label for="user">User</label>
              </div>
              <button class="btn blue">Create</button>
            </form>
          </div>
        </div>
        <div class="card-title">
          <span>Categories</span>
          <ul class="actions right">
            <li>
              <i class="material-icons filters">add</i>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <table class="responsive-table highlight">
            <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Backend</td>
              <td>_______</td>
            </tr>
            <tr>
              <td>Algoritms</td>
              <td>_______</td>
            </tr>
            <tr>
              <td>Frontend</td>
              <td>_______</td>
            </tr>
            <tr>
              <td>Frameworks</td>
              <td>_______</td>
            </tr>
            <tr>
              <td>Matchine learning</td>
              <td>_______</td>
            </tr>
            </tbody>
          </table>
          <div class="table-footer">
            <div class="right">
              <ul class="pagination-custom">
                <li class="cursor"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li  class="cursor"><a href="#"><i class="fa fa-angle-right"></i></a></li>
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col m12 s12">
      <div class="card">
        <div class="card-filters z-depth-3">
          <div class="card-filters-header">
            <div class="pull-right">
              <i class="material-icons closeFilters">close</i>
            </div>
            <h4>Create a new skill</h4>
          </div>
          <div class="card-filters-body">
            <form action="">
              <div class="input-field">
                <input type="text">
                <label for="skill">Skill name</label>
              </div>
              <div class="input-field">
                <select name="" id="">
                  <option value="">LocalStorage</option>
                  <option value="">Backend</option>
                  <option value="">Frontend</option>
                  <option value="">Algoritms</option>
                </select>
                <label for="skill">Category</label>
              </div>
              <div class="input-field">
                <textarea name="" id="textarea2" class="materialize-textarea" data-length="120"></textarea>
                <label for="user">User</label>
              </div>
              <button class="btn blue">Create</button>
            </form>
          </div>
        </div>
        <div class="card-title">
          <span>Skills</span>
          <ul class="actions right">
            <li>
              <i class="material-icons filters">add</i>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <table class="responsive-table highlight">
            <thead>
            <tr>
              <th>Name</th>
              <th>Category</th>
              <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>PHP</td>
              <td>Languages</td>
              <td>_______</td>
            </tr>
            <tr>
              <td>Angular.js</td>
              <td>Languages</td>
              <td>_______</td>
            </tr>
            <tr>
              <td>React.js</td>
              <td>Languages</td>
              <td>_______</td>
            </tr>
            <tr>
              <td>Node.js</td>
              <td>Languages</td>
              <td>_______</td>
            </tr>
            <tr>
              <td>Laravel</td>
              <td>Languages</td>
              <td>_______</td>
            </tr>
            </tbody>
          </table>
          <div class="table-footer">
            <div class="right">
              <ul class="pagination-custom">
                <li class="cursor"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li  class="cursor"><a href="#"><i class="fa fa-angle-right"></i></a></li>
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
