<ng-content></ng-content>
<nav class="blue">
  <div class="nav-wrapper">
    <i class="fa fa-bars" id="sidebarToggle" (click)="toggleSidebar()"></i>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li class="user-info">
        <img src="{{store}}/{{user.avatar}}" alt="">
        <div class="user-data">
          <p>{{user.name}}</p>
          <span>{{user.email}}</span>
        </div>
        <div class="dropdown___menu z-depth-2">
          <ul>
            <li><a routerLink="/profile/{{user.id}}"><i class="material-icons">person</i> Profile</a></li>
            <li><a (click)="logout()"><i class="material-icons">logout</i>Logout</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>
