#nav-mobile{
  margin-right: 20px;
}
img{
  width: 40px;
  display: block;
  margin-top: 10px;
  float: left;
  margin-right: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.user-info{
  display: block;
  position: relative;
}
.user-info:hover .dropdown___menu{
  top: 100%;
  opacity: 1;
  visibility: visible;
}
.user-data{
  float: left;
  line-height: normal !important;
  margin-top: 15px;
}
.user-data p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.user-data span {
  font-size: 12px;
}

.dropdown___menu{
  position: absolute;
  transition: 0.3s all;
  opacity: 0;
  visibility: hidden;
  top: 0%;
  background-color: #fff;
  width: 100%;
  z-index: 100;
}
.dropdown___menu li{
  display: block !important;
  float: none;
  line-height: normal;
}
.dropdown___menu i{
  color: #737373 !important;
  float: none;
  line-height: normal;
  height: auto !important;
  font-size: 15px;
  margin-right: 10px;
  display: inline-block !important;

}
.dropdown___menu li a{
  display: block;
  padding: 15px 15px !important;
  color: #6c6c6b !important;
  width: 100%;
}
