#nav-mobile{
  margin-right: 20px;
}
img{
  width: 40px;
  display: block;
  margin-top: 10px;
  float: left;
  margin-right: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.user-info{
  display: block;
}
.user-data{
  float: left;
  line-height: normal !important;
  margin-top: 15px;
}
.user-data p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.user-data span {
  font-size: 12px;
}
