<ng-content></ng-content>
<nav class="blue">
  <div class="nav-wrapper">
    <i class="fa fa-bars" id="sidebarToggle" (click)="toggleSidebar()"></i>
    <h1 class="page-title">Dashboard</h1>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li class="user-info">
        <img src="http://localhost:3010/assets/images/{{user.avatar}}" alt="">
        <div class="user-data">
          <p>{{user.name}}</p>
          <span>{{user.email}}</span>
        </div>
      </li>
    </ul>
  </div>
</nav>
