<section class="users-table">
  <div class="card">
    <div class="card-title">Users</div>
    <table *ngIf="users">
      <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Total mark <i class="fa fa-sort-amount-desc" id="sort" (click)="sortByTotalMark($event)"></i></th>
        <th>Last activity <i class="fa fa-sort-amount-desc" (click)="sortByDate('active',$event)"></i></th>
        <th>Start work <i class="fa fa-sort-amount-desc" (click)="sortByDate('invitation',$event)"></i></th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users" (click)="showUserSkills(user)">
          <td>{{user.id}}</td>
          <td><a routerLink="profile/{{user.id}}">{{user.name}}</a></td>
          <td>{{user.email}}</td>
          <td>
            {{user.userSkills[0].marks}}
            <span class="badge {{user.status.color}}">{{user.status.text}}</span>
          </td>
          <td>{{user.updated_at | date:'dd-MMMM'}}</td>
          <td><span *ngIf="user.invitation_date ">{{user.invitation_date | date:'dd-MMM'}}</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
