.current{
  background-color: #f5f5f5;
}
.highlighted{
  line-height: 30px !important;
  padding: 5px 10px !important;
}
.highlighted i {
  line-height: 30px;
}
.collapsed .sidebar-header{
  padding: 0px 10px;
}
.collapsed .sidebar-header img {
  left: 50%;
  margin: 15px -17.5px;
}
li a i{
  float: none !important;
}

li a span{
  transform: translateY(-5px);
  display: inline-block;
}
.collapsed li a span {
  display: none;
}
