<div id="modal1" class="modal modal-fixed-footer" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="BooleanAction">
  <div class="modal-content">
    <h5>Deleting a checkpoint</h5>
    <p>Choose your variant. <br> <b>Unassign</b> - remove checkpoint from your roadmap. <br> <b>Force</b> - totaly delete this checkpoint from all roadmaps</p>
  </div>
  <div class="modal-footer">
      <a  class="modal-close waves-effect waves-green btn-flat" (click)="unAssignCheckpoint(Deleting.id, Deleting.index)">Unassign</a>
      <a  class="modal-close waves-effect waves-green btn-flat" (click)="forceDeleteCheckpoint(Deleting.id, Deleting.index)">Force</a>
  </div>
</div>


<div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="modalActions">
  <div class="modal-content">
    <h5>Create new Todo</h5>
    <form #createTodoForm="ngForm">
      <div class="input-field">
        <input type="text" name="name" ngModel>
        <label for="">Name</label>
      </div>
      <div class="input-field">
          <editor name="description" ngModel apiKey="dc8l1mhcepaismnop9h1rg7arqnzqbh7kc30qulvjus8ra18
          " [init]="{plugins: 'link'}"></editor> 
      </div>
      <div class="input-field">
        <button class="btn" (click)="createTodo(createTodoForm)">Create</button>
      </div>
    </form>
  </div>
</div>

<div id="modal3" class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="createCheckpointAction">
    <div class="modal-content">
      <h5>Create new Checkpoint</h5>
      <form #createCheckpointForm="ngForm" style="margin-top: 20px;">
          <div class="input-field">
              <select materialize="material_select" ngModel *ngIf="Skills && Skills.length > 0" name="skill_id" id="skill">
                  <option value="" selected>Not</option>
                  <optgroup *ngFor="let category of Skills" label="{{category.title}}">
                    <option *ngFor="let skill of category.skills" value="{{skill.id}}">{{skill.title}}</option>
                  </optgroup>
                </select>
                <label for="">Skill assigned</label>
          </div>
        <div class="input-field">
          <input type="text" name="name" ngModel>
          <label for="">Name</label>
        </div>
        <div class="input-field">
          <textarea class="materialize-textarea" name="description" ngModel></textarea>
          <label for="">Description</label>
        </div>
        
        <div class="input-field">
          <button class="btn" (click)="createCheckpoint(createCheckpointForm)">Create</button>
        </div>
      </form>
    </div>
  </div>




<div id="modal2" class="modal modal-search bottom-sheet" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="searchAction">
    <div class="modal-content">
     
      <div class="modal-header blue white-text input-field row">
          <h5 class="col s1">Discover checkpoints</h5>
          <div class="col s8">
              <input id="icon_prefix" class="browser-default z-depth-2" type="text" #search (input)="searchCheckpoints(search.value)">
          </div>
      </div>
      <div class="modal-body"> 
        <div class="discover z-depth-1" *ngFor="let discover of DiscoverCheckpoints; let i = index">
          <div class="discover-title">
            <span class="left">{{discover.name}}</span>
            <span class="badge green left">{{discover.skill.title}}</span>
            <div *ngIf="discover.roadmap.id === Roadmap.id">
                <button class="blue btn right btn-small" *ngIf="!discover.assigned" (click)="assignCheckpoint(discover.id)">Add</button>
                <button class="red btn right btn-small" *ngIf="discover.assigned" (click)="unAssignCheckpoint(discover.id, i)">Remove</button>
            </div>
            <div  *ngIf="discover.roadmap.id != Roadmap.id">
                <button class="teal btn right btn-small" *ngIf="!discover.assigned" (click)="merge(discover.id, i)">Merge</button>
                <button class="red btn right btn-small" *ngIf="discover.assigned" (click)="unAssignCheckpoint(discover.id, i)">Remove</button>
            </div>
            <div class="clearfix"></div>
          </div> 
          <div class="discover-body" >
            {{ discover.description }}
            <ul class="info">
              <li> <span class="badge left blue">Roadmap</span><a href="/roadmap/{{discover.roadmap.id}}">{{discover.roadmap.name}}</a> </li>
              <li> <span class="badge left grey">Created by</span> {{discover.creator.name}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<section class="roadmap-page" *ngIf="Roadmap">
  <div class="roadmap-category z-depth-1">
    {{Roadmap.skillsCategory.title}}
  </div>
  <h5 class="section-title" *ngIf="Roadmap">{{Roadmap.name}}</h5>
  <div class="roadmap-description" *ngIf="Roadmap.description && Roadmap.description.length > 0">
      <div class="card">
          <div class="card-title">Description</div>
          <div class="card-body" >
              <editor name="description" ngModel="{{Roadmap.description}}" #desc apiKey="dc8l1mhcepaismnop9h1rg7arqnzqbh7kc30qulvjus8ra18
              " [init]="{plugins: 'link',inline:true}" (onFocusOut)="change(desc)"></editor> 
          </div>
        </div>
  </div>
  
  <div class="row">
    <div class="col m12">
      <div class="checkpoint_actions" *ngIf="Assigned">
        <button class="btn teal lighten-2" id="add_checkpoint" (click)="openCreateCheckpointModal()">Add</button>
        <button class="btn purple lighten-2" id="add_checkpoint" (click)="openSearchModal()">Discover</button>
      </div>
      

      <div class="checkpoints" *ngIf="Checkpoints && Checkpoints.length > 0"> 
          <ul dragula="Checkpoints" [(dragulaModel)]="Checkpoints" (dragulaModelChange)="dropDown($event)">
              <li *ngFor="let checkpoint of Checkpoints; let i = index">
                <div class="chip" (click)="toggleTodos(checkpoint.id)" ngClass="{{checkpoint.active ? 'active' : ''}}">{{checkpoint.name}}</div>
                <div class="dropdown_actions" *ngIf="Assigned">
                  <i class="fa fa-pencil orange lighten-2" *ngIf="checkpoint.canEdit"></i>
                  <i class="fa fa-trash red lighten-2" *ngIf="checkpoint.canEdit" (click)="showDeleteChoose(checkpoint.id, i)"></i>
                  <i class="fa fa-trash red lighten-2" *ngIf="!checkpoint.canEdit" (click)="unAssignCheckpoint(checkpoint.id, i)"></i>
                </div>
              </li>
          </ul>
      </div>
      <div class="card" *ngIf="ActiveCheckpoint">
        <div class="card-title">
          <span>Todos for <b class="chip white-text blue">{{ActiveCheckpoint.skill.title}}</b></span>
          <ul class="actions right">
              <li><i class="fa fa-plus" *ngIf="Assigned" (click)="openModal()"></i></li>
          </ul>
        </div>
        <div class="card-body">
          <ul class="collapsible" materialize="collapsible" data-collapsible="expandable" dragula="Todos" [(dragulaModel)]="Todos">
            <li *ngFor="let todo of ActiveCheckpoint.todos; let i = index">
              <div class="collapsible-header">
                  <input type="checkbox" *ngIf="Assigned" id="todo{{todo.id}}" checked="{{todo.users[0].user_todos.checked == 1 ? 'checked': ''}}" (change)="updateTodo(todo)">
                  <label for="todo{{todo.id}}" *ngIf="todo.creator_id !== AuthService.userData().id">{{todo.name}} <i class="material-icons">lock_outline</i></label>
                  <label for="todo{{todo.id}}"  *ngIf="todo.creator_id === AuthService.userData().id">
                      <editor *ngIf="Assigned; else taskLable" name="name" ngModel="{{todo.name}}" #name apiKey="dc8l1mhcepaismnop9h1rg7arqnzqbh7kc30qulvjus8ra18
                      " [init]="{plugins: 'link',inline:true}" (onChange)="updateContentTodo('name',name.element.innerHTML, todo.id)"></editor>
                      <ng-template #taskLable> <span [innerHtml]="todo.name"></span> </ng-template>
                  </label>

                  
                  <i class="fa fa-trash-o" *ngIf="Assigned" (click)="deleteTodo(todo.id, i)"></i>
              </div>      
              <div class="collapsible-body">
                  <div class='todo-body' #desc >
                    <div *ngIf="todo.creator_id === AuthService.userData().id; else taskDescription">
                        <editor *ngIf="Assigned; else taskDescription" name="description" ngModel="{{todo.description}}" #desc apiKey="dc8l1mhcepaismnop9h1rg7arqnzqbh7kc30qulvjus8ra18
                        " [init]="{plugins: 'link',inline:true}" (onChange)="updateContentTodo('description',desc.element.innerHTML, todo.id)"></editor> 
                    </div>
                    <ng-template #taskDescription><div [innerHtml]="todo.description"></div></ng-template>
                  </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>