.roadmap-page{
    position: relative;
}
.roadmap-category{
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 10px 20px;
    color: #000;
    background-color: #fff;
}
.roadmap-description .card{
    margin: 50px 0px;
}
.roadmap-description .card .card-body{
    padding: 20px !important;
}
.checkpoints{
    margin: 20px 0px;
}
li{
    list-style: none !important;
}
.checkpoints ul{
    position: relative;
    display: inline-block;
}
#add_checkpoint{
    padding: 0px 15px;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
}
.card{
    padding: 0 !important;
}
.card-body{
    padding: 0 !important;
}
.checkpoints ul:after{
    content: '';
    width: 100%;
    position: absolute;
    height: 2px;
    background-color: #e4e4e4;
    left: 0;
    top: 50%;
    z-index: 0;
    margin: -4px 0px;
}
.checkpoints ul li{
    text-align: left;
    display: inline-block;
    position: relative;
    z-index: 20;
    transition: 0.3s all;
}
.checkpoints ul li .chip{
    transition: 0.3s all;
    cursor: pointer;
}
@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 0.8;
    }
}

label i {
    font-size: 12px;
    color: #000;
}

ul.actions li {
    line-height: 40px !important;
}
.checkpoints ul li{
  position: relative;
  z-index: 2;
}
label{
  display: inline-block !important;
  font-size: 16px;
}
.checkpoints ul li:hover .dropdown_actions{
    opacity: 1;
    z-index: 100000;
    visibility: visible;
    top:100%;
}
.checkpoints ul li:hover .dropdown_actions i:first-child{
    animation: fade 0.5s;
}
.checkpoints ul li:hover .dropdown_actions i:last-child{
    animation: fade 1.5s;
}
.checkpoints ul li .dropdown_actions{
    position: absolute;
    width: 100px;
    top:130%;
    text-align: left;
    opacity: 0;
    z-index: 100000000000000;
    visibility: hidden;
    transition: 0.3s all;
}
.checkpoints ul li .dropdown_actions i{
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 10px;
    margin: 0px 3px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s all;
    cursor: pointer;
    opacity: 0.8;
}
.checkpoints ul li .dropdown_actions i:hover{
  opacity: 1 !important;
}
.checkpoints ul li .chip.active:not(.green){
    background-color: #525252 !important;
    color: #ffffff;
}
.checkpoints ul li .chip.active.green{
  background-color: #2f8232 !important;
}
.checkpoints ul li:hover .chip{
    background-color: #525252;
    color: #ffffff;
}
.checkpoints ul li:not(:last-child){
    margin-right: 20px;
}

.description{
    margin-left: 35px;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #f9f7f7;
    opacity: 1;
    position: relative;
    transition: 0.3s all;
}
.description.hidden{
    position: absolute;
    opacity: 0;
}
i.fa-trash-o{
    display: block !important;
    float: right !important;
    font-size: 17px;
    margin-left: 20px;
    color: #525252
}
textarea{
    height: 150px;
}

.modal:not(.modal-serach, #modal1){
    width: 600px;
    max-height: 800px;
}
#modal2 {
    width: 80% !important;
    max-height: 700px;
}
#modal2.modal-search {
    overflow: hidden;
    padding: 0px !important ;
    width: 95% !important;
    margin: 0 auto; 
    max-height: 95% !important;
    height: 95% !important;
    top: 2.5% !important;
}
#modal2.modal-search .modal-content{
    padding: 0 !important;
}
#modal2.modal-search .modal-header{
    position: fixed;
    width: 95%;
    margin: 0;
    background-color: #fff;
    padding: 20px 160px;
    padding-top: 50px;
    background-color: #fff;
}
#modal2 .modal-body{
    transform: translateY(160px);
    padding: 20px 0px;
    padding: 40px;
    max-height:750px;
    overflow-y: scroll !important;
}
#modal2 input{
    border: none;
    outline: none;
    height: 40px;
    width: 80%;
    margin-left: 60px;
    padding-left: 20px;
    float: left;
    color: #696969ee;
    border-radius: 2px;
    margin-top: 20px;
}
#modal2 .modal-body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#modal2 .modal-body::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#modal2 .modal-body::-webkit-scrollbar-thumb
{
	background-color: #F90;	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}

.modal-body .discover{
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid #eee;
    padding: 25px;
    margin-bottom: 20px;
    background-color: #fff;
}
.modal-body .discover .discover-title{
    display: block;
    padding: 10px 0px;
    font-size: 18px;
}
.modal-body .discover .discover-body{
    margin-left: 20px;
    color: #525252;
}
.discover-body ul{
    margin-top: 20px;
    font-weight: bold;
}
.discover-body ul span{
    margin-left: 0 !important;
    margin-right: 10px;
    font-weight: lighter;
    float: left;
}
.modal-body .discover .discover-body ul li{
    display: inline-block;
    margin-right: 10px;
}
.discover .discover-title button.btn{
    height: 25px !important;
    line-height: 25px !important;
    padding:0px 10px;
    font-size: 12px !important;
 }
.collapsible-header{
    display: block !important; 
}
ul.collapsible{
    margin-top: 0 !important;
}
ul.collapsible li:not(.active){
    margin-left: 0;
    margin-right: 0;
}

ul.collapsible li .collapsible-body{
    background-color: #fff;
}

.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    pointer-events: none;
  }

  .gu-hide {
    left: -9999px !important;
  }

  .gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }
 
  .gu-transit {
    opacity: 0.2;
  }
  li.gu-transit {
      list-style: none !important;
  }
  li.gu-transit .dropdown_actions{
   display: none;
  }
  .gu-mirror  .dropdown_actions{
      display: none;
  }
textarea{
    height: auto !important;
    margin-bottom: 0 !important;
}

.todo-body > ul li {
    list-style: armenian;
    padding: 20px !important;
}
