<section class="settings" *ngIf="user">
  <h5 class="section-title">Settings</h5>
  <div class="row">
    <div class="col m4 s6">
      <div class="card">
        <div class="card-title">
          User profile sample
        </div>
        <div class="card-body">
          <div class="user-img">
            <img src="http://localhost:3010/assets/images/{{user.avatar}}" alt="" class="responsive-img ">
          </div>
          <div class="user-info">
            <h6 class="name">{{user.name}}</h6>
            <p class="name">{{user.email}}</p>

            <table class="centered">
              <thead>
                <tr>
                  <th>Setting</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Role</td>
                  <td>{{user.role === 0 ? 'User' : 'Admin'}}</td>
                </tr>
              <tr *ngIf="settings">
                <td>Years of development</td>
                <td>{{settings.dev_years ? settings.dev_years : ''}}</td>
              </tr>
              <tr *ngIf="settings">
                <td>Project completed</td>
                <td>{{settings.projects_completed ? settings.projects_completed : ''}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-title">
          User settings
        </div>
        <div class="card-body">
          <form #settingsForm="ngForm" *ngIf="settings">
            <div class="input-field">
              <input type="number" name="years" ngModel="{{settings.dev_years ? settings.dev_years : ''}}" class="ng-touched">
              <label for="" class="active">Years of development</label>
            </div>
            <div class="input-field">
              <input type="number" name="projects" ngModel="{{settings.projects_completed ? settings.projects_completed : ''}}">
              <label for="" class="active">Projects completed </label>
            </div>
            <button class="btn blue" (click)="setSettings(settingsForm)">Save</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col m8 s12">
      <div class="card">
        <div class="card-title">
          User data
        </div>
        <div class="card-body">
          <div class="row">
            <form #userForm="ngForm" *ngIf="user">
              <div class="input-field">
                <input type="text" name="name" ngModel="{{user.name}}" class="ng-touched">
                <label for="" class="active">Name</label>
              </div>
              <div class="input-field">
                <input type="email" name="email" ngModel="{{user.email}}">
                <label for="" class="active">Email</label>
              </div>
              <div class="input-field">
                <select type="text" name="occupation" ngModel="{{user.occupation}}" materialize="material_select">
                  <option value="">Not</option>
                  <option value="0" >Frontend</option>
                  <option value="1" >Backend</option>
                  <option value="2" >Full-stack</option>
                </select>
                <label for="">Оccupation</label>
              </div>
              <div class="file-field input-field">
                <div class="btn">
                  <span>Avatar</span>
                  <input type="file" name="avatar" #avatar ngModel (change)="uploadAvatar(avatar.files)">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
                </div>
              </div>
              <div class="input-field">
                <input type="text" materialize="pickadate" name="invitation_date" ngModel="{{user.invitation_date}}" [materializeParams]="[{format: 'yyyy-mm-dd'}]">
                <label for="">Date of invitation</label>
              </div>
              <div class="input-field" *ngIf="settings">
                <h6 for="">Profile Bg Image</h6>
                <div class="bg-image-template" [ngStyle]="{'background': 'url('+settings.bg_image+')'}">
                  <input type="file" name="bg-image" #bg (change)="uploadBg(bg.files)">
                  <button id="change-bg"><i class="fa fa-pencil"></i></button>
                </div>
              </div>
              <button class="btn" (click)="updateUserData(userForm)">Save</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
