<section class="user-info" *ngIf="User">
<app-user-info [user]="User.data"></app-user-info>

</section>
<section class="statistics">
  <div class="row">
    <div class="col l4 m12 top-skills">
      <div class="card">
        <div class="card-title purple lighten-2 white-text">
          Aim skill chart
        </div>
        <app-user-chart *ngIf="AimSkills.length > 0" [(skills)]="AimSkills"></app-user-chart>
      </div>
    </div>
    <div class="col l8 m12">
      <app-skills-table-shared *ngIf="Skills && User" [skills]="Skills" [categories]="Categories" [user]="User.data" (sort)="sort($event)" (backHandle)="onSkillUpdate($event)" (search)="onSearch($event)"></app-skills-table-shared>
    </div>
  </div>
</section>
