.title{
  width: 200px;
  float: left;
}
.login-form{
  float: left;
  padding: 20px 50px;
  width: 50%;
}
.login-form ul.tabs{
  background-color: transparent;
}
.login-form ul li {
  display: inline-block;
  cursor: pointer;
}
.login-form ul li {
  display: inline-block;
}
.login{
  position: absolute;
  width: 70%;
  height: 300px;
  top: 300px;
  left: 50%;
  margin: 0px -35%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  background: transparent;
}
