<div class="login">
  <div class="title">
    <img src="/assets/images/logo.png" alt="" class="responsive-img">
    <h5>Smart IT</h5>
    <p>Roadmap</p>

  </div>

  <div class="login-form">
    <ul class="tabs">
      <li class="tab" (click)="toggleRegister('login')"><a>login</a></li>
      <li class="tab" (click)="toggleRegister('register')"><a>register</a></li>
    </ul>
    <form *ngIf="registerForm === false" #loginForm="ngForm" (keydown)="login($event, email.value, password.value)">
      <div class="input-field">
        <input type="email" name="email" id="emailLogin" #email class="validate">
        <label for="">Email</label>
      </div>
      <div class="input-field">
        <input type="password" name="password" id="passwordLogin" size="30" minlength="6" class="validate" #password>
        <label for="">Password</label>
      </div>
      <button type="button" class="btn" id="login" (click)="login($event, email.value, password.value)">Login</button>
    </form>

    <form *ngIf="registerForm === true" (keydown)="register($event, nameRegister.value, emailRegister.value, passwordRegister.value)">

      <div class="input-field">
        <input type="text" name="name" #nameRegister>
        <label for="name">Name</label>
      </div>

      <div class="input-field">
        <input type="email" name="email" #emailRegister>
        <label for="email">Email</label>
      </div>
      <div class="input-field">
        <input type="password" name="password" #passwordRegister>
        <label for="password">Password</label>
      </div>
      <button type="button" class="btn blue" id="register" (click)="register($event, nameRegister.value, emailRegister.value, passwordRegister.value)">Register</button>
    </form>
    <div class="errors" *ngIf="errors && errors.length > 0">
      <ul>
        <li *ngFor="let error of errors">* {{error.message}}</li>
      </ul>
    </div>
  </div>
</div>



